@import "../../Styles/colors";

.welcome-container {
  display: flex;
  flex-direction: row;
  animation: popup 0.3s linear;
  background-color: $darkblue;
  justify-content: space-evenly;
  height: 100%;
  width: 95%;
  margin: 0 auto;
  z-index: 1000 !important;
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.arrow {
  margin-right: 5px;
  color: $teal;
}

.introduction {
  margin: 0 25px;
}

.single-tool {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.tool-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.tools {
  width: 50%;
  margin: 0 25px;
  white-space: nowrap;
}

.hello {
  font-size: clamp(25px, 2.5vw, 40px);
  white-space: nowrap;
}

.specialize {
  font-size: clamp(18px, 1vw, 20px);
}

@media screen and (max-width: 900px) {
  .welcome-container {
    flex-direction: column;
    align-items: center;
  }

  .introduction {
    margin-top: 25px;
  }

  .hello {
    font-size: 40px;
  }

  .specialize {
    font-size: 27px;
  }

  .tools {
    width: 90%;
    margin: 15px 0;
  }

  .tools > h3 {
    text-align: center;
  }

  .tool-container {
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    margin-left: 7vw;
  }

  @media screen and (max-width: 900px) {
    .hello {
      font-size: 5vw;
    }

    .specialize {
      text-align: center;
    }
  }

  @media screen and (max-width: 600px) {
    .tools {
      width: 100%;
    }
  }

  @media screen and (max-width: 500px) {
    .tool-container {
      margin-left: 0;
      grid-template-columns: 33% 33% 33%;
    }

    .specialize {
      font-size: 20px;
    }
  }
}

.terminal-container {
  width: 65%;
  height: 250px;
  background-color: $darkestblue;
  font-family: "Monaco";
  color: $teal;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 15px;
}

.terminal-hello-container {
}

.hello-text {
  color: $teal;
}

.terminal-input {
  border: none;
  background-color: $darkestblue;
  outline: none;
  color: $teal;
  font-size: 15px;
  font-family: "Monaco";
  width: calc(100% - 25px);
  margin-left: 5px;
}

.tool-text-container {
  display: flex;
  flex-direction: column;
}

.tools-link {
  cursor: pointer;
  color: orange;
  transition: 0.3s;
  width: 125px;
}

.tools-link:hover {
  color: rgb(150, 100, 0);
}

.txt-link {
  color: purple;
  cursor: pointer;
  transition: 0.3s;
}

.txt-link:hover {
  color: rgb(90, 1, 90);
}

form {
  position: absolute;
}

.terminal-return-container {
  margin-bottom: 20px;
}

span {
  display: flex;
  flex-direction: row;
}

.orange {
  color: orange !important;
}

.help-window {
  height: 200px;
  width: 200px;
  background-color: $darkestblue;
}
