@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800;900&family=Raleway:wght@300;500&display=swap");

.welcome-container {
  height: 60vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  animation: blurIn2 2.5s linear;

  @keyframes blurIn2 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .welcome-container-background {
    height: 100%;
    width: 100%;
    position: absolute;
    align-self: center;
    display: flex;
    opacity: 0.2;
    transform: rotate(-45deg);
  }

  .welcome-background-text {
    position: absolute;
    height: 300%;
    color: rgba(128, 128, 128, 1);
    font-weight: 900;
    font-size: 50px;
    line-height: 7rem;
    margin-top: -350px;
    margin-left: -250px;
  }

  .welcome-background-text2 {
    position: absolute;
    height: 300%;
    color: rgba(15, 120, 184, 1);
    font-weight: 900;
    font-size: 50px;
    line-height: 7rem;
    margin-top: -745px;
    margin-left: 150px;
  }

  .hi {
    font-size: 21vw;
    color: #2e2f33;
    letter-spacing: -15px;
    z-index: 9;
    font-weight: 800;
    white-space: nowrap;
  }

  .placeholder-text {
    color: #2e2f33;
    z-index: 10;
  }
  .welcome-sub-container {
    display: flex;
    flex-direction: column;
    margin-left: 11%;
  }

  .other-text {
    z-index: 10;
  }
}
