@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800;900&family=Raleway:wght@300;500&display=swap");

.welcome-container {
  height: 60vh;
  width: 100vw;
  // background-color: white;
  position: absolute;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  animation: blurIn2 2.5s linear;

  @keyframes blurIn2 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .welcome-container-background,
  .welcome-container-background2 {
    height: 100%;
    width: 100%;
    position: absolute;
    // background: white;
    align-self: center;
    display: flex;
    opacity: 0.2;
  }

  .welcome-background-text {
    position: absolute;
    height: 300%;
    color: #0f78b8;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      90deg,
      rgba(128, 128, 128, 1) 0%,
      rgba(128, 128, 128, 1) 40%,
      rgba(15, 120, 184, 1) 40%,
      rgba(15, 120, 184, 1) 50%,
      rgba(15, 120, 184, 1) 60%,
      rgba(128, 128, 128, 1) 60%,
      rgba(128, 128, 128, 1) 100%
    );
    background-size: 200% 100%;
    background-position: 100%;
    // transition: 30s;
    transform: rotate(-45deg);
    font-weight: 900;
    font-size: 50px;
    line-height: 7rem;
    margin-top: -350px;
    margin-left: -250px;
    // animation: colorIn 15s linear infinite;
  }

  .welcome-background-text2 {
    position: absolute;
    height: 300%;
    // color: gray;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // background-image: linear-gradient(to right, #0f78b8, #0f78b8 50%, gray 100%);
    background-image: linear-gradient(
      90deg,
      rgba(15, 120, 184, 1) 0%,
      rgba(15, 120, 184, 1) 40%,
      rgba(128, 128, 128, 1) 40%,
      rgba(128, 128, 128, 1) 50%,
      rgba(128, 128, 128, 1) 60%,
      rgba(15, 120, 184, 1) 60%,
      rgba(15, 120, 184, 1) 100%
    );
    background-size: 200% 100%;
    background-position: 100%;
    transition: 30s;
    transform: rotate(-45deg);
    font-weight: 900;
    font-size: 50px;
    line-height: 7rem;
    margin-top: -450px;
    margin-left: 100px;
    // animation: colorIn 15s linear infinite;
  }

  @keyframes colorIn {
    to {
      transition: all 25s cubic-bezier(0, 0, 0.23, 1);
      background-position: 0%;
    }
  }

  // .welcome-background-text2:hover {
  //   transition: all 25s cubic-bezier(0, 0, 0.23, 1);
  //   background-position: 0%;
  // }

  .hi {
    font-size: 21vw;
    color: #2e2f33;
    letter-spacing: -15px;
    z-index: 9;
    font-weight: 800;
    white-space: nowrap;
    transition: 1s;
    // margin-left: -135px;
  }

  .hi:hover {
    color: #051f30;
  }

  .placeholder-text {
    color: #2e2f33;
    z-index: 10;
  }
  .welcome-sub-container {
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    margin-left: 150px;
  }

  .other-text {
    z-index: 10;
  }
}

// .welcome-container::after {
//   content: "dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev  dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev  dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev  dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev dev";
//   position: absolute;
//   color: gray;
//   transform: rotate(-45deg);
//   overflow: hidden;
//   font-weight: 900;
//   font-size: 50px;
//   opacity: 0.4;
//   mix-blend-mode: multiply;
// }
