@import "../../Styles/colors";
$orange: rgb(189, 144, 61);

.welcome-container {
  display: flex;
  flex-direction: row;
  // animation: popup 4s linear;
  align-items: center;
  background-color: $darkblue;
  justify-content: space-evenly;
  height: calc(50% - 40px);
  width: 100%;
  margin: 0 auto;
  z-index: 8 !important;
  position: fixed;
  animation-delay: 3s;
  overflow-x: hidden;
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.arrow {
  margin-right: 5px;
  color: $teal;
}

.introduction {
  margin: 0 25px;
}

.single-tool {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.tool-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.tools {
  width: 50%;
  margin: 0 25px;
  white-space: nowrap;
}

.hello {
  font-size: clamp(25px, 2.5vw, 40px);
  white-space: nowrap;
}

.specialize {
  font-size: clamp(18px, 1vw, 20px);
}

@media screen and (max-width: 900px) {
  .welcome-container {
    flex-direction: column;
    align-items: center;
  }

  .introduction {
    margin-top: 25px;
  }

  .hello {
    font-size: 40px;
  }

  .specialize {
    font-size: 27px;
  }

  .tools {
    width: 90%;
    margin: 15px 0;
  }

  .tools > h3 {
    text-align: center;
  }

  .tool-container {
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    margin-left: 7vw;
  }

  @media screen and (max-width: 900px) {
    .hello {
      font-size: 5vw;
    }

    .specialize {
      text-align: center;
    }
  }

  @media screen and (max-width: 600px) {
    .tools {
      width: 100%;
    }
  }

  @media screen and (max-width: 500px) {
    .tool-container {
      margin-left: 0;
      grid-template-columns: 33% 33% 33%;
    }

    .specialize {
      font-size: 20px;
    }
  }
}

.terminal-container {
  width: 70%;
  height: 270px;
  background-color: $darkestblue;
  font-family: "Monaco";
  color: $teal;
  overflow-y: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 5px;
  line-height: 22px;
}

.terminal-hello-container-animated {
  animation: animateHelloText 6.5s linear;
}

@keyframes animateHelloText {
  0% {
    opacity: 0;
    height: 0;
  }
  75% {
    opacity: 0;
    height: 0;
  }
  85% {
    height: 100%;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

.hello-text {
  color: $teal;
}

.terminal-input {
  border: none;
  background-color: $darkestblue;
  outline: none;
  color: $teal;
  font-size: 15px;
  font-family: "Monaco";
  width: calc(100% - 25px);
  margin-left: 5px;
}

.input-container {
  animation: terminalInputAnimation 8.5s linear;
}

@keyframes terminalInputAnimation {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tool-text-container {
  display: flex;
  flex-direction: column;
}

.tools-link {
  cursor: pointer;
  color: $orange;
  transition: 0.3s;
  width: 200px;
}

.web-link {
  color: blue;
  cursor: pointer;
  width: 250px;
}

.web-link:hover {
  color: rgb(14, 14, 117);
}

.tools-link:hover {
  color: rgb(150, 100, 0);
}

.txt-link {
  color: purple;
  cursor: pointer;
  transition: 0.3s;
}

.txt-link:hover {
  color: rgb(90, 1, 90);
}

form {
  position: fixed;
  width: 65%;
}

.terminal-return-container {
  margin-bottom: 20px;
}

span {
  display: flex;
  // flex-direction: row;
}

// .orange {
//   color: $orange !important;
// }

.help-window {
  height: 200px;
  width: 300px;
  background-color: $darkestblue;
}

.click-instructions {
  display: inline-block;
  // display: flex;
  // flex-direction: row;
  // justify-content: flex-start;
  // align-items: flex-start;
}

.orange {
  display: inline-block;
  color: $orange !important;
  margin: 0;
}

.loading-snap {
  overflow: hidden;
  white-space: nowrap;
  animation: textAnimation 1s steps(10, end) 3;
  letter-spacing: 0.2em;
  opacity: 0;
  // display: inline-block;
}

@keyframes textAnimation {
  from {
    width: 0%;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

.loaded-snap {
  // display: inline-block;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: textAnimation 1.5s steps(8, end);
  animation-delay: 3s;
  letter-spacing: 0.4em;
  // animation: textAnimation 4.5s linear infinite;
}

@keyframes loadedSnap {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading-snap-container {
}
