@import "../../Styles/colors";

.welcome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation: popup 0.3s linear;
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.arrow {
  margin-right: 5px;
  color: $teal;
}

.introduction {
  margin: 0 25px;
}

.single-tool {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.tool-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.tools {
  width: 50%;
  margin: 0 25px;
}

@media screen and (max-width: 600px) {
  .welcome {
    flex-direction: column;
    height: 60vh;
    justify-content: center;
  }
  .tools {
    width: 90%;
    margin: 0 auto;
  }

  h1 {
    margin: 0;
    margin-top: -50px;
  }
  h1 {
    font-size: 20px;
    margin-top: -100px;
  }

  h3 {
    font-size: 15px;
  }

  .welcomoe {
    align-items: center;
  }
}
