@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;900&family=Raleway:wght@300;500&display=swap");

.portfolio-container {
  height: 60vh;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;

  background: linear-gradient(to right, #3099d9 50%, white 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.5s ease-out;
  animation: fillInBackground 0.75s linear;

  @keyframes fillInBackground {
    from {
      background-position: right bottom;
    }
    to {
      background-position: left bottom;
    }
  }

  .portfolio-new-container {
    position: absolute;
    left: 0;
    background-color: #3099d9;
    width: 100%;
    animation: fadeIn 1s linear;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .portfolio-new {
    filter: drop-shadow(10rem 0 0 rgba(0, 30, 200, 0.8))
      drop-shadow(-10rem 0 0 rgba(0, 30, 200, 0.5))
      drop-shadow(20rem 0 0 rgba(0, 30, 200, 0.7))
      drop-shadow(50rem 0 0 rgba(0, 30, 200, 0.5));
    transition: filter 600ms;
    animation: portfolio-new 2.5s linear;
  }

  @keyframes portfolio-new {
    0% {
      opacity: 0;
      filter: drop-shadow(0 0 0 rgba(0, 30, 200, 0.8));
    }
    50% {
      opacity: 0;
      filter: drop-shadow(0 0 0 rgba(0, 30, 200, 0.8));
    }
    60% {
      opacity: 1;
    }
    70% {
      filter: drop-shadow(0 0 0 rgba(0, 30, 200, 0.8));
    }
  }

  @keyframes clipped-element {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .new-project {
    position: absolute;
    color: white;
    top: 47%;
    left: 1%;
    font-size: 20px;
    z-index: 10;
  }

  .portfolio-new:hover {
    filter: drop-shadow(0 0 0 rgba(0, 30, 200, 0.8));
  }

  .clipped-element {
    width: 20rem;
    height: 60vh;
    clip-path: polygon(0 0, 50% 0, 100% 50%, 50% 100%, 0 100%, 50% 50%);
    background-color: white;
    animation: portfolio-new 1.5s linear;
  }

  .portfolio-header {
    color: white;
    font-size: 9em;
    font-weight: 800;
  }
}

.portfolio-navbar {
  //   max-height: 60vh;
  //   height: 50px;
  position: absolute;
  z-index: 10;
  //   bottom: 0;
  width: 100%;
  //   overflow: hidden;
  // animation: portfolioNavbar 0.25s linear;
  background-color: #333;
}

@keyframes portfolioNavbar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Navigation links */
.portfolio-navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 10;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
  z-index: 10;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  z-index: 10;
}

/* Add a red background color to navigation links on hover */
.portfolio-navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: #0f78b8;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #0f78b8;
  width: 100%;
  z-index: 10;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  z-index: 10;
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

.portfolio-piece {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current {
  background-color: white;
  color: black !important;
}

.portfolio-links > a {
  text-decoration: none;
  color: white;
}
