@import "../../Styles/colors";

a {
  text-decoration: none;
  color: white;
  font-weight: 900;
}

.portfolio-container {
  display: grid;
  grid-template-columns: 25% 75%;
  animation: popup 0.3s linear;
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.portfolio-desc {
  margin: 25px;
}

.portfolio-image {
  width: 400px;
}

.portfolio-item {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.portfolio-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.recent-projects {
}
