@import "../../Styles/colors";
.portfolio-container > {
  a {
    text-decoration: none;
    color: white;
    font-weight: 900;
  }
}
.portfolio-container {
  display: grid;
  grid-template-columns: 25% 75%;
  animation: popup 0.3s linear;
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.portfolio-desc {
  margin: 25px;
}

.portfolio-image {
  width: 400px;
  border: 2px solid $teal;
}

.portfolio-item {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.portfolio-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.project-nav {
  padding: 5px 10px;
  border: 2px solid $teal;
  margin: 5px 0;
  width: 150px;
  text-align: center;
  color: $teal;
  border-radius: 5px;
  cursor: pointer;
}

.project-nav-title {
  padding: 5px 10px;
  border: 2px solid $teal;
  margin: 5px 0;
  width: 150px;
  text-align: center;
  color: $teal;
  border-radius: 5px;
}

.recent-projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 25px;
}

@media (max-width: 600px) {
  .portfolio-container {
    display: flex;
    flex-direction: column;
  }

  .portfolio-image {
    width: 250px;
    height: 125px;
  }

  .portfolio-item {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .recent-projects {
    flex-direction: row;
    margin: 15px auto;
    justify-content: space-evenly;
    width: 100%;
  }

  .project-nav-title {
    display: none;
  }
}
