@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&family=Raleway:wght@300;500&display=swap");

$montserrat: "Montserrat", sans-serif;
$raleway: "Raleway", sans-serif;

$light: 300;
$regular: 500;
$bold: 600;
$superbold: 900;
