@import "../../Styles/colors";

a {
  text-decoration: none;
  color: white;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  animation: popup 0.3s linear;
  background-color: $darkblue;
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.contact-link {
  border: 2px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 100;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.contact-link:hover {
  background-color: white;
}

.contact-link:hover > a {
  color: $navy !important;
}

.contact-link:hover > img {
  filter: contrast(0%) brightness(0%);
}

a:hover {
  // background-color: white;
  color: $navy !important;
}

.get-in-touch {
  font-weight: 900;
}

.contact-icon {
  width: 15px;
  filter: contrast(0%) brightness(500%);
  margin-right: 5px;
}
