@import "../../Styles/index";

.header-container {
  height: 50vh;
  background-color: $lightblue;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-align: start;
}

.seattle {
  font-size: 20vw;
  font-family: "Montserrat", sans-serif;
  transition: 0.5s;
  font-weight: 900;
  margin-bottom: -0.26em;
}

.based {
  font-size: 4vw;
  position: absolute;
  z-index: 10;
  background-color: $lightblue;
  color: white;
  right: 0;
  opacity: 0.8;
  padding: 5px 10px;
}

@media screen and (max-width: 500px) {
  .header-container {
    height: 30vh;
  }
}
