@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&family=Raleway:wght@300;500&display=swap");

.header-container {
  height: 40vh;
  width: 100vw;
  background-color: #0f78b8;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-align: start;

  .name {
    font-size: 10vw;
    font-family: "Montserrat", sans-serif;
    transition: 0.5s;
    font-weight: 900;
    margin-bottom: -0.26em;
    animation: slideLeft 0.75s linear;
    color: white;
  }

  @keyframes slideLeft {
    0% {
      transform: translateX(75px);
      letter-spacing: 0.5vw;
    }
  }

  .developer {
    font-size: 4vw;
    position: absolute;
    z-index: 10;
    color: #0f78b8;
    right: 50px;
    bottom: 0;
    opacity: 0.9;
    margin-bottom: -0.235em;
    animation: slideRight 0.75s linear;
  }
  @keyframes slideRight {
    0% {
      transform: translateX(-75px);
      letter-spacing: 0.25vw;
    }
  }
}
