@import "../../Styles/colors";

.navbar-container {
  position: absolute;
  height: 50px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  bottom: 0;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
  color: white;
}

.link {
  cursor: pointer;
  //   font-weight: 900;
  transition: 1s;
  //   background-color: $teal;
  color: $teal;
}

.link-text {
  padding: 5px 10px;
  border: 2px solid $teal;
  border-radius: 5px;
  transition: 0.5s;
}

.link-text:hover,
.current {
  background-color: $teal;
  color: $navy;
}
