.navbar-container {
  position: absolute;
  height: 50px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  bottom: 0;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
  color: white;
}

.link {
  cursor: pointer;
}
