@import "../../Styles/colors";

.footer-container {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: $darkestblue;
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  width: 250px;
  text-align: center;
}

.time {
  margin-right: 25px;
  width: 250px;
  text-align: right;
}

.weather-container {
  display: flex;
  flex-direction: row;
  width: 250px;
  align-items: center;
  margin-left: 25px;
  justify-content: space-evenly;
}

.weather-desc {
  white-space: nowrap;
}

.weather-icon {
  width: 40px;
}

@media screen and (max-width: 1000px) {
  .time,
  .copyright,
  .weather-container {
    width: initial;
  }

  .weather-container {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 650px) {
  .weather-desc {
    display: none;
  }
}
