@import "../../Styles/colors";

.footer-container {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: $darkestblue;
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weather-container {
  display: flex;
  flex-direction: row;
  width: 250px;
  align-items: center;
  margin-left: 25px;
  justify-content: space-evenly;
}

.weather-desc {
  white-space: nowrap;
}

.weather-icon {
  width: 40px;
}
