.experience-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  font-weight: 900;
  width: calc(100% - 25px);
  padding-left: 25px;
  font-family: "Fredoka One", cursive;
  color: white;
  background-color: #9fa2b2;
  animation: slide 0.5s forwards;
}

@keyframes slide {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0;
  }
}

.navbar-container > div {
  padding: 0 25px;
  cursor: pointer;
}
